<div class="title">
    email: <b> <%= current_user.email%> <b>
  </div>
<div class="body">
  <% list = current_user.details%>
  <% if list.any? %>
    <% list.each do |f|%>
      <div class= "items">
        <%= form_for f, :url => "edit/#{f.id}",  :html => {:multipart => true}  do |d|%>
          <%= d.hidden_field :id, value: f.id %>
          <%#= d.hidden_field :user_id, value: f.user_id %>
          Phone: <%= d.phone_field :phone, value: f.phone%> <br />
          Address: <%= d.text_field :address, value: f.address %> <br />
          <%= d.submit %>
        <%end%>
        <% if list.second!= nil%>
          <%= button_to 'delete', detail_path(f.id) , method: :delete,class:"btn btn-danger", :data=>{ :confirm=>'Are your surely sure?'}%>
          <%end%>
      </div>
      <br>
      <br>
    <%end%>
      
  <% end %>    
  <br>
  <br>
</div>
<%= button_to "home", user_path(current_user.id), method: :get %>
<% if current_user.active == true %>
  <%= button_to "Deactivate account",deactivate_user_path, method: :post,class:"btn btn-danger", :data=>{ :confirm=>'Are you sure?'}%>
<%else%>
  <%= button_to "activate account",activate_user_path, method: :post, class:"btn btn-danger", :data=>{ :confirm=>'Are you sure?'}%>
<%end%>