<div class="title">
    email: <b> <%= current_user.email%> <b>
  </div>
<div class="body">
  <% list = current_user.details%>
  <% if list.any? %>
    <% list.each do |f|%>
      <div class= "items">
        Phone: <%= f.phone%>
        <br>
        Address: <%= f.address%>
        <br>
        <%= button_to 'delete', detail_path(f.id) , method: :delete%>
      </div>
      <br>
      <br>
    <%end%>
      
  <% end %>    
  <br>
  <br>
</div>
<%= button_to "home", user_path(current_user.id), method: :get %>
