<%= button_to "back", :back, method: :get %>
<%= button_to "home", user_path(current_user.id), method: :get %>

<head>
    <h1> You are at <%= @user.email%>'s profile </h1>
</head>

<body>
    <% list = @user.details %>
    <%if list.any?%>
        <ol>
            <%list.each do |d|%>
                <li>
                    Phone: <%= d.phone%> 
                    <br>
                    Address: <%= d.address%>
                    <br>
                    <br>
                </li>
            <%end%>
        </ol>
    <%end%>
</body>