<div id='title'><h1>Sign Up</h1></div>
<div class= "section">
	<%= form_for @user do |f| %>
		<%= f.label :email %>
		<%= f.email_field :email %>
		<%= f.label :password %>
		<%= f.password_field :password %>
		<%= f.label :password_confirmation %>
		<%= f.password_field :password %>
		<%= f.submit "Sign Up!", class:"btn btn-primary btn-submit" %>
	<%end%>
</div>
<%= button_to "back", '/welcome', method: :get, class: "btn btn-secondary btn-back" %>
