<body>
  <div id= "title">
    <h1> <%= current_user.email %> please add your info </h1>
    </div>
  <div class="container">
    <%= form_for Detail.new(), :url => user_details_path, :html => {:multipart => true} do |f| %>
        <%= f.label :phone  %>
        <%= f.telephone_field :phone %>
        <br>
        <%= f.label :address %>
        <%= f.text_field :address %>
        <br>
      <%= f.submit "Submit", disable_with: 'Submiting...',class: 'btn btn-primary btn-submit' %>
    <% end %>
    </div>
</body>
<%= button_to "back", user_path(current_user), method: :get,class: 'btn btn-secondary btn-back' %>
